<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" th:href="@{/css/registration.css}" type="text/css"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form method="get" th:action="@{/}">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
</form>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="#" autocomplete="off" class="form-horizontal"
                  method="post" role="form" th:action="@{/registration}"
                  th:object="${user}">
                <h2>Registration Form</h2>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label class="validation-message" th:errors="*{name}"
                               th:if="${#fields.hasErrors('name')}"></label>
                        <input class="form-control" placeholder="First Name" th:field="*{name}"
                               type="text"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label class="validation-message" th:errors="*{lastName}"
                               th:if="${#fields.hasErrors('lastName')}"></label>
                        <input class="form-control" placeholder="Last Name"
                               th:field="*{lastName}" type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input class="form-control" placeholder="Email" th:field="*{email}"
                               type="text"/> <label
                            class="validation-message" th:errors="*{email}"
                            th:if="${#fields.hasErrors('email')}"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input class="form-control" placeholder="Password"
                               th:field="*{password}" type="password"/> <label
                            class="validation-message" th:errors="*{password}"
                            th:if="${#fields.hasErrors('password')}"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button class="btn btn-primary btn-block" type="submit">Register User</button>
                    </div>
                </div>

                <h2><span class="text-success" th:utext="${successMessage}"></span></h2>

            </form>
        </div>
    </div>
</div>

</body>
</html>